
.wraper {
  width: 100%;
  height: 100vh;

}

.head_title {
  text-align: center;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.head_title>h1 {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  position: relative;
  margin-bottom: 15px;
}

.head_title>h6 {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  opacity: 0.8;
}

.page_title {
  position: relative;
  border-bottom: var(--border);
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.page_title_inner>h5 {
  color: var(--theme-color);
  font-size: 20px;
  font-weight: 700;
  opacity: 0.85;
}

.page_title_inner a>span {
  color: var(--heading-color);
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
}

.page_title_inner a>button>span>svg {
  fill: var(--heading-color);
  opacity: 0.7;
}

.page_title_inner {
  display: flex;
  justify-content: space-between;
}

.link_up {
  position: relative;
  font-size: 12px;
}

.login_board {
  display: grid;
  height: 100vh;

}

.formContainer {
  position: relative;

  width: 100%;
}

.login_container {
  margin: auto;
  width: 100%;
  max-width: 600px;
  min-width: 650px;
}

.company_info {
  width: 70%;
  bottom: 15px;
  border-radius: 10px;
  left: 15%;
  position: absolute;
  background-color: rgb(246, 246, 246);
  padding: 12px;
  text-align: center;
  display: grid;
}

.login_contact p {
  color: var(--heading-color);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login_info_support {
  display: flex;
  justify-content: space-evenly;
}

.login_info_support>p>svg {
  width: 0.8em;
  height: 0.8em;
  opacity: 0.9;
  fill: var(--heading-color);
  position: relative;
  top: 5px;
  margin-right: 6px;
}

.login_info_support>p {
  color: var(--theme-color);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.main_account {
  display: flex;
}

.brand_logo {
  position: relative;
  z-index: 99;
  background: var(--white);
  padding: 10px 20px;
  text-align: center;
}

.brand_name_text {
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.top_strip_left {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .left_side_card {
    display: none;
  }

  .login_container {
    width: 95%;
    min-width: 300px;
  }

  .company_info {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .fright{
    width: 100% !important;
    height: 50vh !important;
  }
  .fleft {
    width: 100% !important;
    height: 50vh !important;
}
.fleft::before {
  height: 51vh !important;
}
.content_box{
  margin-top: 50% !important;
  margin-left: 7%;
}
.headingTag{
  font-size: 30px !important;
  line-height: 90vh;
}
.headingTag2{
  font-size: 24px !important;
  line-height: 90vh;
}
}

@media (min-width: 601px) and (max-width: 1200px) {
  .head_title {
    top: 50%;
    left: 0;
  }

  .login_container {
    min-width: 400px;
    max-width: 460px;
    margin: auto;
    width: 100%;
  }
}

.second_title_box {
  position: relative;
}

/* Form Cover Design  */
.signup__area {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.page__title h2 {
  color: #696f79;
  font-weight: 600;
  font-size: 40px;
}

.login_mode {
  margin: 12px 0;
}

.google_mode {
  padding: 4px 50px !important;
  box-shadow: var(--bs-sm) !important;
  border-radius: 15px !important;
  margin: 0 10px !important;
  background: #FFFFFF !important;
}

.google_mode:hover {
  padding: 4px 50px !important;
  cursor: pointer;
  border-radius: 15px !important;
  margin: 0 10px !important;
  background: #db3236 !important;
  color: white !important;

}

.btnFacebook {
  width: 190px;
  height: 50px;
  border-radius: 15px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  display: inline-block;
  border: 2px solid black;
  margin-left: 50px;
}

.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
  cursor: pointer;
}

.google_mode img {
  width: 32px;
}

.facebook_mode {
  padding: 4px 50px !important;
  box-shadow: var(--bs-sm) !important;
  border-radius: 15px !important;
  margin: 0 10px !important;
  background: #1877f2 !important;
  width: 100px;
}

.facebook_mode img {
  width: 32px;
}

.divider {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}

.divider span {
  width: 100%;
  height: 1.5px;
  background: #1b2838;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 14px;
  opacity: .8;
}

.divider b {
  background: #fef6e8;
  position: relative;
  padding: 10px;
}

.sign__input_wrapper {
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

.sign__input_wrapper h5 {
  font-size: 18px;
  opacity: .9;
  font-weight: 600;
  color: #021937;
  margin-bottom: 5px;
}

.sign__input input {
  width: 100%;
  height: 52px;
  line-height: 52px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #8692a6;
  background: #fff;
  color: #222222;
  border-radius: 6px;
}

.sign__action {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.m_check_label {
  cursor: pointer;
  padding-left: 10px;
  font-size: 16px;
  margin-top: 4px;
}

.sign__forgot p:hover {
  color: #1c7df8;
}

.sign__forgot p {
  color: #7a797f;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
  margin: 0 !important;
}

.w_btn {
  font-size: 18px !important;
  color: #ffffff !important;
  background: #6b705a !important;
  height: 48px !important;
  line-height: 40px !important;
  border: 2px solid #6b705a !important;
  text-align: center !important;
  padding: 0 20px !important;
  display: inline-block !important;
  font-weight: 400 !important;
  border-radius: 5px !important;
  text-transform: capitalize !important;
  position: relative !important;
  z-index: 1 !important;
  overflow: hidden !important;
}

.sign__new {
  margin-top: 20px;
  text-align: center;
}

.sign__new p {
  color: #7a797f;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.sign__new p>p {
  color: #1c7df8;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.img_section img {
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.brand_name {
  position: absolute;
  bottom: 4%;
  left: 10%;
}

.longin_container {
  margin-top: 30px;
  padding: 30px 50px;
  border-radius: 10px;
  z-index: 11;
  align-items: flex-start;
  text-align: left;

}

.sign__input>div {
  width: 100%;
  height: 52px;
  line-height: 52px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #8692a6;
  background: #fff;
  color: #222222;
  border-radius: 6px;
  font-size: 16px;
  overflow: hidden;
}

.sign__input textarea {
  width: 100%;
  height: 70px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #8692a6;
  background: #fff;
  color: #222222;
  border-radius: 6px;
  font-size: 16px;
  overflow: hidden;
}

.wrap {
  width: 100%;
  overflow: auo;
}

.fleft {
 position: relative;
  float: left;
  width: 45%;
  background: white;
  /* background: url("./../../../public/assets/Images/logo/signup_img.svg") no-repeat top center; */
  height: 100vh;

}
.fleft:before {
  content: "";
  position: absolute;
  height: 102vh;
  width: 100%;
  background: #000000b5;
  top: -7px;
  left: 0;
}
.fleft img {

  width: 100%;

}

.fright {
 
  float: right;
  background: white;
  height: 100vh;
  width: 55%;

  justify-content: center !important;
  align-items: center !important;
}

.right_content_container {
  justify-content: center !important;
  color: #000000 !important ;
  margin-left:14% !important;
  width: 70% !important;
  margin-top:15% !important;
  margin-bottom: 5% !important;
}

.header-text-wrapper {
  position: relative;
  top: 20% !important;
  margin-top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading_title {

  width: 382px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900 !important;
  font-size: 28px;
  align-items: center;
  color: #212427;
}

.para_style {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  align-items: center;
  color: #000000 !important;
}

.check_box_para {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 119.4%;
  /* or 12px */

  display: flex;
  align-items: center;
}

.headingTag {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900 !important;
  font-size: 50px;
  line-height: 120%;
  /* or 36px */
  letter-spacing: 2px;
  display: flex;
  align-items: center;

  color: #FFFFFF;

}

.headingTag2 {
  font-family: 'Nunito Sans';
  font-style: normal;

  font-size: 30px;
  line-height: 120%;
  /* or 36px */

  display: flex;
  align-items: center;

  color: #FFFFFF;

}

.header_text {
  position: absolute;
  top: 9%;
  left: 3%;
  transform: translateY(-50%);

}

.content_box {
  position: absolute;
  margin-top: 40%;
  left: 3%;
  transform: translateY(-50%);

}

.or:after,
.or:before {
  content: "";
  display: block;
  background: #E5E5E5;
  width: 48%;
  height: 1px;
  margin: 0 10px;
}

.label_font {
  font-size: 16px;
  color: rgba(33, 36, 39, 0.8);
  font-weight: 400;
  font-family: 'Nunito Sans';
font-style: normal;
}

.form_control_lg {
  min-height: calc(1em + 0.5rem + 2px);
  padding: 0.3rem 1rem;
  outline: 0;
  display: block;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border-width: 0 0 2px;
}

.form_control_lg2 {
  min-height: calc(1em + 0.5rem + 2px);
  padding: 0.3rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border-bottom: 2px solid #f8a01c;
  background-clip: padding-box;
}

.sign__in {
  margin-top: 25px !important;

}

.sign__in p {
  color: #7a797f;
  margin-bottom: 0;
  display: flex;

}

.sign__in p>p {
  color: #f8a01c;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.signup_btn {
  font-size: 16px !important;
  color: #ffffff !important;
  background: #FAA61A !important;
  height: 40px !important;
  line-height: 40px !important;

  text-align: center !important;
  padding: 0 10px !important;
  display: inline-block !important;

  border-radius: 35px !important;
  text-transform: capitalize !important;
  position: relative !important;
  z-index: 1 !important;
  overflow: hidden !important;
  width: 35% !important;
}

.signup_btn2 {
  font-size: 20px !important;
  color: #ffffff !important;
  background: #FAA61A !important;
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 10px !important;

  border-radius: 30px !important;
  text-transform: capitalize !important;

  z-index: 1 !important;
  overflow: hidden !important;
  width: 30% !important;
  align-items: flex-start !important;
}

.btnFacebook {

  background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 7px rgb(0 0 0 / 10%);
    box-shadow: 0px 4px 7px rgb(0 0 0 / 10%);
    border-radius: 20px;
    /* padding: 10px; */
    border: none;
    color: black;
    width: 100%;
    margin-left: 20px;
}
 


.btnFacebook i {

  background: #1877F2;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 9px;
  color: white;
  width: 30px;
  height: 30px;

}
