.back_image {
  width: 100% !important;
  height: auto;
  overflow: hidden !important;
  border: 2px solid black;
}

.container {
  width: 100% !important;
  height: 125vh;
  object-fit: cover;
  cursor: pointer;
  margin-top: -100px;
}

.inner_form_page {
  width: 100% !important;

  height: 585px;
  margin: 15px 70px 100px 10px;
  /* background: black; */
  border: 1px solid rgb(192, 192, 192);
}

/*     */
/* =======================second====================== */

.imgContainer {
  /* background-color: rgb(221, 29, 135); */
  width: 55% !important;
  height: 520px;
  position: relative;
  top: 5%;
  float: left;
  /* right: 10% !important; */
  left: 5% !important;
}

.previous {
  font-family: "Nunito Sans " !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  align-items: left !important;
  text-align: left !important;
  letter-spacing: 0.02em !important;
  margin-top: 15px;
  color: #888888;
}

.nextArrow {
  font-family: "Nunito Sans " !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  align-items: right !important;
  text-align: right !important;
  letter-spacing: 0.02em !important;
  margin-top: 15px;
  color: #faa61a;
}

.aboutContainer {
  background-color: white !important;
  top: 88%;
  margin-left: 10%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.typo1 {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 30px !important;
  /* line-height: 20px !important; */
  align-items: left !important;
  justify-content: left !important;
  letter-spacing: 0.02em;
  padding-left: 15px !important;
  margin-top: 10px !important;
  color: #212427;
}

.yearTypo {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 30px !important;
  line-height: 20px !important;
  text-align: end;
  justify-content: right !important;
  letter-spacing: 0.02em;
  margin-top: 10px !important;

  color: #212427;
}

.para {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 30px !important;
  /* line-height: 10px !important; */
  align-items: center !important;
  letter-spacing: 0.02em;
  /* padding-left: 22px !important; */
  color: #212427;
}

.para1 {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 20px !important;
  letter-spacing: 0.02em;
  color: #212427;
}

.para3 {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 20px !important;
  text-align: end !important;
  align-items: center !important;
  letter-spacing: 0.02em;

  color: #212427;
}

.para2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* line-height: 10px; */
  align-items: center;
  letter-spacing: 0.02em;
  padding-left: 22px !important;
  color: #212427;
}

.rightTitle {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 34px;
  text-align: end !important;
  color: #faa61a;
}

.tagText {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  margin-top: 20px !important;
  align-items: center !important;
  letter-spacing: 0.02em !important;

  color: #000000;
}

.btn {
  font-size: 12px !important;
  color: #090606 !important;
  background: #e5e5e5 !important;
  padding: 10px !important;
  text-align: center !important;
  border: none;
  display: inline-block !important;
  /* margin-left: 10px !important; */
  border-radius: 20px !important;
  text-transform: capitalize !important;
  position: relative !important;
  z-index: 1 !important;
  overflow: hidden !important;
  width: 100% !important;
}

.connectBtn {
  background: #faa61a;
  color: #fff;
  border-radius: 20px;
  width: 25%;
  font-size: 20px;
  border: none;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .aboutContainer {
    top: 80%;
    margin-left: 8%;
    padding: 0px 10px;
  }

  .logoContainer {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .logoContainer p {
    width: 100%;
  }

  .rightTitle {
    font-size: 14px !important;
    line-height: 14px;
    padding: 0px 5px 0px 0px;
  }

  .textContainer {
    display: block !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .innerTextContainer {
    text-align: center;
    width: 100%;
    font-size: 15px;
    line-height: 26px;
    margin-right: 0 !important;
    justify-content: center !important;
  }

  .textContainer p {
    text-align: center !important;
    width: 100% !important;
    font-size: 15px !important;
    line-height: 20px;
  }

  .para1 {
    font-size: 15px !important;
    font-weight: 700 !important;
    text-align: center !important;
  }

  .connectBtn {
    width: 40%;
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 600px) {
  .logoContainer {
    display: block !important;
  }

  .textContainer {
    display: block !important;
  }
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  .wraper {
    width: 96% !important;
    /* margin-right: 0px !important; */
    margin: auto !important;
    height: 130vh;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    /* box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 15px 0 rgba(0, 0, 0, 0.18); */
  }

  .back_image {
    width: 100% !important;
    height: auto;
    overflow: hidden !important;
    border: 2px solid black;
  }

  .container {
    width: 100% !important;
    height: 125vh;
    object-fit: cover;
    cursor: pointer;
    margin-top: -100px;
  }

  .inner_form_page {
    width: 100% !important;

    height: 585px;
    margin: 10px 70px 100px 0px;
    /* background: black; */
    border: 1px solid rgb(192, 192, 192);
  }

}
