.Bio_cover {
    height: auto;
    margin-top: 5% !important;
    align-items: center;
    justify-content: center;
   
   
}

.heading {
    font-family: 'Hill House';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 65px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212427;
}

.heading1 {
    border-top: 3px solid #212427;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #212427;
    opacity: 0.8;
    width: 15%;
}

.para {
    font-family: 'Nunito Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height:25px !important;
    display: flex;
    align-items: center !important;
    letter-spacing: 0.02em !important;
    color: #000000;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    /* insert styles here */
}
 
/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
    /* insert styles here */
}
 
/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    .Bio_cover {
        width: 96%;
        height: auto;
        margin-left: 25px !important;
        margin-top: 1px;
        margin-right: 25px !important;
        margin-bottom: 10% !important;
        /* box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
    }
}
 
/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    /* insert styles here */
}
 
/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* insert styles here */
}